:root {
	--black: #36393A;
	--teal: #7A918D;
	--gray: #F5EFFF;
	--white: #FCFAF9;
}

body {
	font-family: "Roboto", sans-serif;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	color: var(--black, black)
}

